
@media screen and (max-width: 475px) {
    .mobi-page{
      display: block;
    }
  }
  
  @media screen and (min-width: 475px) {
     .mobi-page{
      display: none;
     }
  }
  
  @media screen and (max-width: 1800px) {
  
  .fgjd{
    margin-top: 20px;
  }
  
  
  }
  
  @media screen and (min-width: 1800px) {
  
  
  .fgjd{
    margin-top: -20px;
  }
  
  .adsimg1c{
    display: inline-block;
  }
  }
  
  @media screen and (max-width: 1600px) {
    .adsimg1c{
    display: none;
  }
  
  
  }
  
  .sw:hover{
   font-weight:bold;
   text-decoration:underline;
   }
  
  .header-button:hover{
   background-color: aliceblue;
  border-radius: 4px;
  }
  
  
  
  .banana1:not(:target) {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s, visibility 0.5s;
  }
  
  .banana1 {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  }
  
  
  #page-top a{
  background:#942D2F;
  color:#fff;
  text-align: center;
  display: block;
  text-decoration: none;
  padding:20px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8rem;
  transition: all 0.3s;
  }
  
  #page-top a:hover{
  background: #777;
  }
  
    dialog{
      z-index:3;
    }
  
  
  .loop-area {
    display: flex;
    animation: loop-slide 20s infinite linear 1s both;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .loop-area .content {
    width: 500px;
  }
  @keyframes loop-slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
    
    
    li{
      list-style:none;
      
    }
    
    details {
    margin: 14px;
    padding: 10px;
    height: 10px;
    transition: .5s;
  }
  details[open] {
    height: 166px;
    background: #ffffff8a;
    padding: 11px;
    border-radius: 0px;
    border-top-left-radius: 18px;
  }
  
  
  .loader2 {
    width: 22px;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 4px solid lightblue;
    border-right-color: #1b9b89;
    animation: l2 1s infinite linear;
  }
  @keyframes l2 {to{transform: rotate(1turn)}}
  .sample01 {
    margin: 0 auto 40px;
    width: 568px;
    font-size: 28px;
    text-align: center;
    overflow: hidden;
    position: fixed;
    text-shadow: 3px 3px 0 #fff, -3px 3px 0 #fff, -3px -3px 0 #fff, 3px -3px 0 #fff;
    font-weight: bold;
    margin-left: 25px;
    height: 323px;
  }
  .sample01 p{
  margin:0;
  display : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation : scrollSample01 20s linear infinite;
  }
  @keyframes scrollSample01{
  0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
  }
  
    
  .sample02 {
  margin : 0 auto 40px;
  text-align : center;
  overflow : hidden;
    width: 568px;
    font-size: 28px;
    position: fixed;
    text-shadow: 3px 3px 0 #fff, -3px 3px 0 #fff, -3px -3px 0 #fff, 3px -3px 0 #fff;
    font-weight: bold;
    margin-left: 25px;
    height: 323px;
  }
  .sample02 ul{
  margin:0;
  display : inline-block;
  padding-left: 100%;
  white-space : nowrap;
  line-height : 1em;
  animation : scrollSample02 15s linear infinite;
  }
  .sample02 ul li{
  display:inline;
  margin:0 100px 0 0;
  }
  .sample02 ul li:nth-child(1){
  font-weight:bold;
  }
  .sample02 ul li:nth-child(2){
  color:#F00;
  }
  .sample02 ul li:nth-child(3){
  
  }
  .sample02 ul li:last-child{
  color:#F90;
  margin:0;
  }
  @keyframes scrollSample02{
  0% { transform: translateX(0)}
  100% { transform: translateX(-100%)}
  }
  
  ul li.remove span {
    color: rgb(255, 251, 0);
    
  }
  
  .osu3{
    border-radius: 10px;
    background-color: rgb(185, 222, 255);
    width: 348px;
    display: inline-block;
    margin: 10px;
    height: 10px;
    height: 237px;
    border: 1px #9ec8cc solid;
    box-shadow: 0 2px 3px 0 #cdcedb;
  }
  
  .osu3frame{
    display: inline-block;
    width: 290px;
    height: 165px;
    background: #0040ff3d;
  }
  
  .osu3wf{
    width: 180px;
    height: 85px;
    position: relative;
    z-index: 0;
    display: inline-block;
    background: #0040ff3d;
    margin-top: 12px;
  
  }
  
  .popup{
    padding:4px;
    padding-left: 5px;
    padding-right:5px;
    border:1px #0000007a solid;
    background: #fff;
    position: fixed;
    z-index: 10;
    
  }
  
  @keyframes fadeInAnime{
    from {
      opacity: 0;
      transform: translateX(-100%);
      
    }
  
    to {
      opacity: 1;
      transform: translateX(0%);
      
    }
    
  }
  
  @keyframes slide-windowAnime{
    from {
      
      transform: translateX(100%);
      
    }
  
    to {
      
      transform: translateX(0%);
      
    }
    
  }
  
  
  @keyframes fadeoutAnime{
    from {
      opacity: 1;
      transform: translateX(0%);
    }
  
    to {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
  
  
  .fadein{
    animation-name: fadeInAnime;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0s;
     
  
    
  }
  
  .fadeout{
    animation-name: fadeoutAnime;
    animation-duration: 0.35s;
    animation-fill-mode: forwards;
    opacity: 1;
    animation-delay: 0s;
  
    
  }
  
  
  @keyframes fadeIn2a{
    from {
      opacity: 0;
      transform: translateX(100%);
    }
  
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes ichiosi-anime{
    from {
      opacity: 0;
      transform: translateX(-500%);
    }
  
    to {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  
  @keyframes f1{
    from {
      
      transform: translateY(-50%);
    }
  
    to {
      
      transform: translateY(0%);
    }
  }
  
  .f1c{
    animation-name: f1;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
  }
  
  .fadein2{
    animation-name: fadeIn2a;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
    animation-delay: 0s;
  }
    
    .poti:hover{
      background:gray;
      padding:2px;
      border-radius:4px;
      color:white;
    }
  
    /*やっぱコメント入れた方がいいねぇー*/
  
      /*ユーザーアカウント*/
    
      @keyframes  f-u1a{
    0% {
      opacity:0;
    }
    100% {
      opacity: 0.94;
    }
  }
    
    .chipi-ui-f-u{
      animation-name: f-u1a;
    animation-duration: 0.32s;
    animation-fill-mode: forwards;
    }
    
    
    /*ユーザーアカウントここまで*/
    .rotate-box img{
      transition: transform 0.4s;
    }
    .rotate-box:hover img{
        
    transform: rotate(20deg);
    }
    .banana div{
      transition: transform 1s;
    }
    .bananaa:hover div{
      
    transform: rotate(360deg);
    }
    
    .search:focus{
      outline: none;
    }
    
    .rotate-2 font{
      transition: transform 0.8s;
    }
    
    .rotate-2:hover font{
      transform: rotate(-30deg);
    }
  
  label{
    display:inline-block;
  }
  
    .start-button{
      background: #5facf0;
    padding: 8px 100px 8px 100px;
    font-size: 30px;
    border-radius: 1000px;
    }
    
    .start-button:hover{
      background: #a5d5ff;
    padding: 8px 100px 8px 100px;
    font-size: 30px;
    border-radius: 1000px;
    }
    
    .start-button:active{
      background: #5facf0;
    }
    
    code {
    background-color: #eee;
    border-radius: 5px;
    font-family: courier, monospace;
    padding: 0 3px;
    
  }
  
    .option{
      font-size: 25px;
      display: inline-block;
      margin-top: 10px;
      margin-left: 25px;
    }
  
  .box_01{
      box-shadow:0px 0px 4px 0px #ddd;
      border-radius: 8px;
      padding: 10px;
      display:inline-block;
      width: 450px;
      margin: 20px
      
  }
  
  .a00001{
      margin-left:10px;
      padding:2px 50px;
      border-radius:4px;
      background: aliceblue;
  }
  
  
  .a00002{
      margin-left:10px;
      padding:2px 50px;
      border-radius:4px;
      background: #fdeff2;
  }

  
  header{
    margin: -10px;padding: 12px 0px 5px 8px;border-bottom: 0px;border-radius: 30px;margin-bottom: 10px;margin-top: 8px;margin-left: -10px;border-radius: 0px;padding-left: 18px;
  }

  #menu{
    position: fixed;
  padding: 32px;
  box-shadow: 0px 0px 4px 0px #ddd;
  border-radius: 10px;
  top: 28px;
  z-index: 4;
  }